#!/bin/sh
#!/bin/bash
#author :: Amit Tank
#License - MIT
#revision history / summary.


echo "Welcome."

# set up the env for bootcamp student.
set_bootcamp_env() {
  alias i='cat ~/prepdir/bootcampAL1/env/quickref.txt'
  alias u='cd ~/prepdir/bootcampAL1; git pull'
  
}


## main
set_bootcamp_env